/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Blog Slider Shortcode
## Custom css
## Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog Slider Shortcode
--------------------------------------------------------------*/
.blog-slider__item .entry-thumb {
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
.blog-slider__item .entry-thumb img {
	display: inline-block;
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.blog-slider__item:hover .entry-thumb img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.blog-slider__item .entry-title {
	font-size: 15px;
	margin-bottom: 8px;
}
.blog-slider__item .entry-title a {
	color: #333333;
}
.blog-slider__item .entry-title a:hover {
	color: #337ab7;
}
.blog-slider__item__hover {
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.blog-slider__item:hover .blog-slider__item__hover {
	visibility: visible;
    opacity: 1;
}
.blog-slider__item .entry-meta {
	margin-bottom: 5px;
}

/*--------------------------------------------------------------
## Custom Css 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Responsive 
--------------------------------------------------------------*/
/* Extra large devices (large desktops) */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

}

